{{#link-to 'question' favorite.id}}<h4>{{favorite.content}}</h4><{{/link-to}}
<h6 class="question-notes-author">User: {{favorite.author}}</h6>
<button class="btn btn-sm btn-danger highlight" {{action 'remove' index}}>Remove</button>
