body {
  font-family: futura;
  background-image: url("http://cdn.paper4pc.com/images/screw-white-nuts-humor-funny-text-cartoon-comics-wallpaper-1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: white;
  padding: 80px;
}

.question-color {
  color: black;
}

.question-notes-author {
  color: gray;
}
.answer-color {
  color: red;
}

ul {
  list-style-type: none;
}

.about {
  color: red;
  padding: 80px;
  text-align: center;
}
