<div class="container">
  <h4 class="about">Tam's Question and Answer Board allows a user to ask questions and post answers.</h4><br>
  <h6 class="about">(It's a great way to fuel your curiosity.)</h6>
</div>
