<div class="about">
  <h2>About Tam's Question and Answer Board</h2>

  <p>Tam's Question and Answer Board allows a user to ask questions and answer other questions as well. It's a great way to fuel your curiosity.</p>
</div>
