<header>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
      {{#link-to 'index'}}<a class="navbar-brand">Home</a>{{/link-to}}
      {{#link-to 'about'}}<a class="navbar-brand">About</a>{{/link-to}}
  </div>
</nav>
</header>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
