<header>
  <nav class="navbar navbar-default">
  <div class="container-fluid">

      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'about'}}About{{/link-to}}

  </div>
</nav>
</header>
<body>
  <div class="container">
    {{outlet}}
  </div>
</body>
