<h1>Home page</h1>

<ul>
  {{#each model.questions as |question|}}
    <li>Queston: {{question.content}}<br>
        Author: {{question.author}}<br>
        Notes: {{question.notes}}
    </li>
  {{/each}}
</ul>

{{#link-to 'about'}}About{{/link-to}}
