<h1>Questions</h1>

<ul>
  <li>
  {{#each model.questions as |question|}}
  {{question-tile question=question upVote="upVote" downVote="downVote"}}
  {{/each}}
  </li>
</ul>

{{new-question saveQuestion2="saveQuestion3"}}
